.inputRangeArea {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2.5em;

	.inputRange {
		height: 2em;
		position: relative;
		transform: scale(1.4);
		border: 1px solid red;
		width: 520px;
		cursor: grab;
	}
}

